<div class="container px-5 px-sm-0">

  <% if @book.errors.any? %>
  <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="row">

    <%= render 'sidebar', user: @user, book: @book %>

    <%= render 'list', books: @books %>




  </div>
</div>
